{% extends 'CatalogApp/base.html' %}
{% load static %}
{% block body %}
<body>

<div id="templatemo_wrapper_h">
<div id="templatemo_header_wh">
	<div id="templatemo_header" class="header_home">
    	<div id="site_title"><a href="#">Floral Shop</a></div>
        <div id="templatemo_menu" class="ddsmoothmenu">
            <ul>
                <li><a href="{% url 'home' %}" class="selected">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'checkout' %}">Checkout</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'faqs' %}">FAQs</a></li>
            </ul>
            <div id="templatemo_search">
                <form action="#" method="get">
                  	<input type="text" value="Site Search" name="keyword" id="keyword" title="keyword"
                  			onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
                  	<input type="submit" name="Search" value="" alt="Search" id="searchbutton" title="Search" class="sub_btn" />
                </form>
            </div>
            <br style="clear: left" />
        </div> <!-- end of templatemo_menu -->

        <div class="slider-wrapper theme-orman">
            <div class="ribbon"></div>
            <div id="slider" class="nivoSlider">
                <img src={% static "images/portfolio/01.jpg" %} alt="" />
                <a href="#">
                	<img src="{% static 'images/portfolio/02.jpg' %}" alt="slider image 2" title="This is an example of a caption" />
                </a>
                <img src="{% static 'images/portfolio/03.jpg' %}" alt="slider image 3" />
                <img src="{% static 'images/portfolio/04.jpg' %}" alt="slider image 4" title="#htmlcaption" />
                <img src="{% static 'images/portfolio/05.jpg' %}" alt="slider image 5" title="#htmlcaption" />
            </div>
            <div id="htmlcaption" class="nivo-html-caption">
                <strong>Example</strong> caption with <a href="http://dev7studios.com" rel="nofollow">a credit link</a> for <em>this slider</em>.
            </div>
        </div>
		<script type="text/javascript" src={% static "js/jquery-1.6.1.min.js" %}></script>
        <script type="text/javascript" src={% static "js/jquery.nivo.slider.pack.js" %}></script>
        <script type="text/javascript">
        $(window).load(function() {
            $('#slider').nivoSlider({
				controlNav:false
			});
        });
        </script>
    </div> <!-- END of header -->
</div> <!-- END of header wrapper -->
<div id="templatemo_main_wrapper">
<div id="templatemo_main">
{% include 'CatalogApp/include/filter.html' %}
{#<form action="{% url 'filter' %}" method="get">#}
{#	<div id="sidebar" class="left">#}
{#    	<div class="sidebar_box"><span class="bottom"></span>#}
{#            <h3>Categories</h3>#}
{#            <div class="content">#}
{#                <ul class="sidebar_list">#}
{#                    {% for category in view.get_category_list %}#}
{#                        <li>#}
{#                            <label><input type="checkbox" class="checkbox-row" name="category" value={{ category.id }}><span>{{ category.name }}</span></label>#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#        <div class="sidebar_box"><span class="bottom"></span>#}
{#            <h3>Sub Categories</h3>#}
{#            <div class="content">#}
{#                <ul class="sidebar_list">#}
{#                    {% for sub_category in view.get_subcategory %}#}
{#                        <li>#}
{#                            <label><input type="checkbox" class="checkbox-row" name="sub_category" value={{ sub_category.id }}><span>{{ sub_category.name }}</span></label>#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}
{#            <button type="submit">find</button>#}
{#        </div>#}
{#    </div>#}
{#</form>#}

    
    <div id="content" class="right">
		<h2>Welcome to Floral Shop</h2>
        {% for seed in seed_list %}
        <div class="product_box">
            <a href="{{ seed.get_absolute_url }}"><img class="product__img img-fluid" src="{{ seed.poster.url }}" alt="floral set 1" /></a>
      		<h3>{{ seed.title }}</h3>
            <p class="product_price">{{ seed.price }} грн</p>
            <p class="add_to_cart">
                <a href="{{ seed.get_absolute_url }}">Detail</a>
            </p>
        </div>
        {% endfor %}

        <div class="blank_box">
        	<a href="#"><img src="{% static 'images/free_shipping.jpg' %}" alt="Free Shipping" /></a>
        </div>
    <div class="page-pagination">
                <ul class="page-pagination__list">

                    {% if page_obj.has_previous %}
                        {% if page_obj.number|add:'-3' > 1 %}
                            <li class="page-pagination__item">
                                <a class="page-pagination__link" href="?{{ sub_category }}{{ category }}page=1">1</a>
                            </li>
                        {% endif %}
                        {% if page_obj.number|add:'-3' >= 3 %}
                            <li class="page-pagination__item">
                                <a class="page-pagination__link" href="?{{ sub_category }}{{ category }}page={{ page_obj.previous_page_number|add:'-3' }}">next</a>
                            </li>
                        {% endif %}
                    {% endif %}

                    {% if paginator.page_range|length > 1 %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-pagination__item">
                                    <a class="page-pagination__link active" href="#">{{ i }}</a>
                                </li>
                            {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                                <li class="page-pagination__item">
                                    <a class="page-pagination__link" href="?{{ sub_category }}{{ category }}page={{ i }}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if page_obj.has_next %}
                        {% if page_obj.number|add:'4' < page_obj.paginator.num_pages %}
                            <li class="page-pagination__item">
                                <a class="page-pagination__link"  href="?{{ sub_category }}{{ category }}page={{ page_obj.next_page_number|add:'3' }}">
                                        next
                                </a>
                            </li>
                        {% endif %}
                        {% if page_obj.number|add:'3' < page_obj.paginator.num_pages %}
                            <li class="page-pagination__item">
                                <a class="page-pagination__link" href="?{{ sub_category }}{{ category }}page={{ page_obj.paginator.num_pages }}">
                                    {{ page_obj.paginator.num_pages }}
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
    </div>
    <div class="cleaner"></div>
</div> <!-- END of main -->
</div> <!-- END of main wrapper -->

<div id="templatemo_footer_wrapper">
<div id="templatemo_footer">
	<div class="footer_left">
    	<a href="#"><img src="images/1311260370_paypal-straight.png" alt="Paypal" /></a>
        <a href="#"><img src="images/1311260374_mastercard-straight.png" alt="Master" /></a>
        <a href="#"><img src="images/1311260374_visa-straight.png" alt="Visa" /></a>
    </div>
	<div class="footer_right">
		<p><a href="{% url 'home' %}">Home</a> | <a href="products.html">Products</a> | <a href="about.html">About</a> | <a href="faqs.html">FAQs</a> | <a href="checkout.html">Checkout</a> | <a href="contact.html">Contact</a></p>
        <p>Copyright © 2084 <a href="#">Company Name</a></p>
	</div>
    <div class="cleaner"></div>
</div> <!-- END of footer -->
</div> <!-- END of footer wrapper -->
</div>

</body>
{% endblock %}