{% extends "CatalogApp2/base.html" %}
{% load static %}
{% block body%}
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Про нас</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url "home" %}">Головна</a></li>
                        <li class="breadcrumb-item active">Про нас</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="{% static "images/about-img.jpg" %}" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">Ми - <span>Freshshop</span></h2>
                    <p>Аграрна компанія FreshShop вітає вас на сайті інтернет каталоо насіння. Пріоритетний напрямок діяльності нашої компанії - Агрокаталог,
                        який стане для вас зручним способом ознайомлення і вибором сировини для придбання і подальшого посіву. Для багатьох фермерів України ми стали надійним партнером, пропонуючи вигідні умови співпраці оптовим покупцям.</p>
					<a class="btn hvr-hover" href="{% url "catalog" %}">Перейти до каталогу</a>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Нам довіряють</h3>
                        <p>Більш ніж 100 тисяч українців вже скористалися нашими послугами, та ця кількість лише зростає з кожним днем!</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Ми професійно виконуємо свої обов'язки</h3>
                        <p>В нашій службі підтримки працюють освідченні професіонали свого діла, які завжди нададуть вам найшвидшу, та найкращу консультацію</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Якість</h3>
                        <p>З самого початку роботи FreshShop зробив ставку на величезний вибір якісних товарів і бездоганне виконання кожного замовлення. Звичайно ж, без «казусів» обійтися неможливо, але практично всі виникаючі конфліктні ситуації співробітники відділу турботи про клієнтів намагаються вирішити на користь саме клієнта. </p>
                    </div>
                </div>

        </div>
    </div>
{% endblock body %}