{% extends "CatalogApp2/base.html" %}
{% load static %}
{% block body %}
    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Каталог</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url "home" %}">Головна</a></li>
                        <li class="breadcrumb-item active">Каталог</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            <div class="col-12 col-sm-4 text-center text-sm-right">
                                <ul class="nav nav-tabs ml-auto">
                                    <li>
                                        <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">
                                        {% for seed in seed_list %}
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <img src="{{ seed.poster.url }}" class="img-fluid" alt="Image">

                                                </div>
                                                <div class="why-text">
                                                    <h4>{{ seed.title }}</h4>
                                                    <a href="{{ seed.get_absolute_url }}" class="btnn hvr-hover">Детальніше</a>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="list-view">
                                    {% for seed in seed_list %}
                                    <div class="list-view-box">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <img src="{{ seed.poster.url }}" class="img-fluid" alt="Image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width">
                                                    <h4>{{ seed.title }}</h4>
                                                    <h5>{{ seed.price }}₴</h5>
                                                    <p>
                                                        {{ seed.description }}
                                                    </p>
                                                    <a class="btn hvr-hover" href="{{ seed.get_absolute_url }}">Детальніше</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">
                            <form action="{% url "search" %}" method="get">
                                <input class="form-control" placeholder="Search here..." name="q" type="search">
                                <button type="submit"> <i class="fa fa-search"></i> </button>
                            </form>
                        </div>
                        <form action="{% url 'filter' %}" method="get">
                            <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Категорії</h3>
                            </div>
                            <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                                {% for category in view.get_category_list %}
                                    <a class="list-group-item list-group-item-action"><input type="checkbox" name="category" value={{ category.id }}> {{ category.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Підкатегорії</h3>
                            </div>
                                {% for sub_category in view.get_subcategory %}
                                    <a class="list-group-item list-group-item-action"><input type="checkbox" name="sub_category" value={{ sub_category.id }}> {{ sub_category.name }}</a>
                                {% endfor %}
                            </div>
                            <button class="btn hvr-hover" type="submit">Застосувати</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shop Page -->
{% endblock %}